<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PV/UV管理页面</title>

    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <!-- 下拉框 -->
    <link rel="stylesheet" href="/public/plugins/ace/css/chosen.css"/>
    <!-- 日期框 -->
    <link rel="stylesheet" href="/public/plugins/ace/css/datepicker.css"/>
</head>
<body>

<style>
    .ul_right li {
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        list-style: none;
    }

    table tr {
        text-align: center;
    }

    table th {
        text-align: center;
    }
</style>

<div class="container">
    <div class="row" style="margin-top: 25px" id="pvuvBox">
        <div class="col-sm-12 col-md-12">

            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>
                        序号
                    </th>
                    <th>
                        单表名称
                    </th>
                    <th style="width: 166px">
                        排序
                    </th>
                    <th style="width: 230px">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>


                <tr v-for="(item,index) in list">
                    <input type="hidden" v-model="item.id">
                    <td>
                        {{index + 1}}
                    </td>
                    <td>
                        {{item.title}}
                    </td>
                    <td>
                        <ul class="ul_right">

                            <li v-if="index != list.length-1">
                                <span class="glyphicon glyphicon-arrow-down" @click="down(index)"></span>
                            </li>
                            <li v-else>
                                <span class="glyphicon glyphicon-arrow-down" @click="down(index)"
                                      style="visibility: hidden"></span>

                            </li>

                            <li v-if="index != 0">
                                <span class="glyphicon glyphicon-arrow-up" @click="up(index)"></span>
                            </li>
                            <li v-else>
                                <span class="glyphicon glyphicon-arrow-up" @click="up(index)"
                                      style="visibility: hidden"></span>

                            </li>
                        </ul>

                    </td>
                    <td>
                        <ul class="ul_right">
                            <li>
                                <button class="btn btn-info btn-xs" type="button" @click="del(item.id)">删除</button>
                            </li>
                            <li>
                                <button class="btn btn-info btn-xs" type="button" @click="edit(item.id)">编辑</button>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>


<script src="/public/libs/jquery.min.js"></script>
<script src="/public/libs/bootstrap.min.js"></script>
<script src="/public/libs/vue.min.js"></script>

<script src="/public/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="/public/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="/public/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="/public/js/common.js"></script>
<script src="js/index_manage.js"></script>

</body>
</html>