<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sywl.web.dao.CardMapper">


    <insert id="save" parameterType="com.sywl.web.domain.CardDomain">
        INSERT INTO card (
        id,
        user_id,
        code,
        `count`,
        create_time,
        last_use_time
        )
        VALUES
        (
        #{id},
        #{userId},
        #{code},
        #{count},
        #{createTime},
        #{lastUseTime}
        )
    </insert>


    <select id="queryCardById" resultType="com.sywl.web.domain.CardDomain" parameterType="java.lang.String">
        SELECT
        t.id,
        t.user_id AS userId,
        t.`code`,
        t.count,
        t.create_time AS createTime,
        t.last_use_time AS lastUseTime
        FROM
        card AS t
        where id = #{id}
    </select>

    <select id="queryCardByCondition" resultType="com.sywl.web.domain.CardDomain" parameterType="java.util.Map">
        SELECT
        t.id,
        t.user_id AS userId,
        t.`code`,
        t.count,
        t.create_time AS createTime,
        t.last_use_time AS lastUseTime
        FROM
        card AS t
        <where>
            <if test="userId != null and userId != ''">
                AND user_id = #{userId}
            </if>
            <if test="code != null and code != ''">
                AND code = #{code}
            </if>
            <if test="beginTime != null">
                AND last_use_time <![CDATA[ >= ]]> #{beginTime}
            </if>
            <if test="endTime != null">
                AND last_use_time <![CDATA[ < ]]> #{endTime}
            </if>
        </where>
    </select>

</mapper>