<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sywl.dao.DeviceTHMapper" >
  <resultMap id="BaseResultMap" type="com.sywl.domain.DeviceTHDomain" >
    <id column="th_id" property="thId" jdbcType="VARCHAR" />
    <result column="device_code" property="deviceCode" jdbcType="VARCHAR" />
    <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
    <result column="device_a_type_id" property="deviceATypeId" jdbcType="VARCHAR" />
    <result column="device_b_type_id" property="deviceBTypeId" jdbcType="VARCHAR" />
    <result column="c_time" property="cTime" jdbcType="TIMESTAMP" />
    <result column="u_time" property="uTime" jdbcType="TIMESTAMP" />
    <result column="scene_id" property="sceneId" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="frequency" property="frequency" jdbcType="INTEGER" />
    <result column="temp_h" property="tempH" jdbcType="VARCHAR" />
    <result column="temp_l" property="tempL" jdbcType="VARCHAR" />
    <result column="humi_h" property="humiH" jdbcType="VARCHAR" />
    <result column="humi_l" property="humiL" jdbcType="VARCHAR" />
    <result column="bat" property="bat" jdbcType="VARCHAR" />
    <result column="lac" property="lac" jdbcType="VARCHAR" />
    <result column="cell" property="cell" jdbcType="VARCHAR" />
    <result column="ccid" property="ccid" jdbcType="VARCHAR" />
    <result column="device_version" property="deviceVersion" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="DeviceMap" type="com.sywl.domain.Device" >
    <id column="th_id" property="deviceId" jdbcType="VARCHAR" />
    <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
    <result column="device_code" property="deviceCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    th_id, device_code, device_name, device_a_type_id, device_b_type_id, c_time, u_time, 
    scene_id, parent_id, frequency, temp_h, temp_l, humi_h, humi_l, bat, lac, cell, ccid, 
    device_version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_device_sy1a_th
    where th_id = #{thId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_device_sy1a_th
    where th_id = #{thId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sywl.domain.DeviceTHDomain" >
    insert into t_device_sy1a_th (th_id, device_code, device_name, 
      device_a_type_id, device_b_type_id, c_time, 
      u_time, scene_id, parent_id, 
      frequency, temp_h, temp_l, 
      humi_h, humi_l, bat, 
      lac, cell, ccid, device_version
      )
    values (#{thId,jdbcType=VARCHAR}, #{deviceCode,jdbcType=VARCHAR}, #{deviceName,jdbcType=VARCHAR}, 
      #{deviceATypeId,jdbcType=VARCHAR}, #{deviceBTypeId,jdbcType=VARCHAR}, #{cTime,jdbcType=TIMESTAMP}, 
      #{uTime,jdbcType=TIMESTAMP}, #{sceneId,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{frequency,jdbcType=INTEGER}, #{tempH,jdbcType=VARCHAR}, #{tempL,jdbcType=VARCHAR}, 
      #{humiH,jdbcType=VARCHAR}, #{humiL,jdbcType=VARCHAR}, #{bat,jdbcType=VARCHAR}, 
      #{lac,jdbcType=VARCHAR}, #{cell,jdbcType=VARCHAR}, #{ccid,jdbcType=VARCHAR}, #{deviceVersion,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sywl.domain.DeviceTHDomain" >
    insert into t_device_sy1a_th
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="thId != null" >
        th_id,
      </if>
      <if test="deviceCode != null" >
        device_code,
      </if>
      <if test="deviceName != null" >
        device_name,
      </if>
      <if test="deviceATypeId != null" >
        device_a_type_id,
      </if>
      <if test="deviceBTypeId != null" >
        device_b_type_id,
      </if>
      <if test="cTime != null" >
        c_time,
      </if>
      <if test="uTime != null" >
        u_time,
      </if>
      <if test="sceneId != null" >
        scene_id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="frequency != null" >
        frequency,
      </if>
      <if test="tempH != null" >
        temp_h,
      </if>
      <if test="tempL != null" >
        temp_l,
      </if>
      <if test="humiH != null" >
        humi_h,
      </if>
      <if test="humiL != null" >
        humi_l,
      </if>
      <if test="bat != null" >
        bat,
      </if>
      <if test="lac != null" >
        lac,
      </if>
      <if test="cell != null" >
        cell,
      </if>
      <if test="ccid != null" >
        ccid,
      </if>
      <if test="deviceVersion != null" >
        device_version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="thId != null" >
        #{thId,jdbcType=VARCHAR},
      </if>
      <if test="deviceCode != null" >
        #{deviceCode,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null" >
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceATypeId != null" >
        #{deviceATypeId,jdbcType=VARCHAR},
      </if>
      <if test="deviceBTypeId != null" >
        #{deviceBTypeId,jdbcType=VARCHAR},
      </if>
      <if test="cTime != null" >
        #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uTime != null" >
        #{uTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sceneId != null" >
        #{sceneId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null" >
        #{frequency,jdbcType=INTEGER},
      </if>
      <if test="tempH != null" >
        #{tempH,jdbcType=VARCHAR},
      </if>
      <if test="tempL != null" >
        #{tempL,jdbcType=VARCHAR},
      </if>
      <if test="humiH != null" >
        #{humiH,jdbcType=VARCHAR},
      </if>
      <if test="humiL != null" >
        #{humiL,jdbcType=VARCHAR},
      </if>
      <if test="bat != null" >
        #{bat,jdbcType=VARCHAR},
      </if>
      <if test="lac != null" >
        #{lac,jdbcType=VARCHAR},
      </if>
      <if test="cell != null" >
        #{cell,jdbcType=VARCHAR},
      </if>
      <if test="ccid != null" >
        #{ccid,jdbcType=VARCHAR},
      </if>
      <if test="deviceVersion != null" >
        #{deviceVersion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sywl.domain.DeviceTHDomain" >
    update t_device_sy1a_th
    <set >
      <if test="deviceCode != null" >
        device_code = #{deviceCode,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null" >
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceATypeId != null" >
        device_a_type_id = #{deviceATypeId,jdbcType=VARCHAR},
      </if>
      <if test="deviceBTypeId != null" >
        device_b_type_id = #{deviceBTypeId,jdbcType=VARCHAR},
      </if>
      <if test="cTime != null" >
        c_time = #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uTime != null" >
        u_time = #{uTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sceneId != null" >
        scene_id = #{sceneId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null" >
        frequency = #{frequency,jdbcType=INTEGER},
      </if>
      <if test="tempH != null" >
        temp_h = #{tempH,jdbcType=VARCHAR},
      </if>
      <if test="tempL != null" >
        temp_l = #{tempL,jdbcType=VARCHAR},
      </if>
      <if test="humiH != null" >
        humi_h = #{humiH,jdbcType=VARCHAR},
      </if>
      <if test="humiL != null" >
        humi_l = #{humiL,jdbcType=VARCHAR},
      </if>
      <if test="bat != null" >
        bat = #{bat,jdbcType=VARCHAR},
      </if>
      <if test="lac != null" >
        lac = #{lac,jdbcType=VARCHAR},
      </if>
      <if test="cell != null" >
        cell = #{cell,jdbcType=VARCHAR},
      </if>
      <if test="ccid != null" >
        ccid = #{ccid,jdbcType=VARCHAR},
      </if>
      <if test="deviceVersion != null" >
        device_version = #{deviceVersion,jdbcType=VARCHAR},
      </if>
    </set>
    where th_id = #{thId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sywl.domain.DeviceTHDomain" >
    update t_device_sy1a_th
    set device_code = #{deviceCode,jdbcType=VARCHAR},
      device_name = #{deviceName,jdbcType=VARCHAR},
      device_a_type_id = #{deviceATypeId,jdbcType=VARCHAR},
      device_b_type_id = #{deviceBTypeId,jdbcType=VARCHAR},
      c_time = #{cTime,jdbcType=TIMESTAMP},
      u_time = #{uTime,jdbcType=TIMESTAMP},
      scene_id = #{sceneId,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      frequency = #{frequency,jdbcType=INTEGER},
      temp_h = #{tempH,jdbcType=VARCHAR},
      temp_l = #{tempL,jdbcType=VARCHAR},
      humi_h = #{humiH,jdbcType=VARCHAR},
      humi_l = #{humiL,jdbcType=VARCHAR},
      bat = #{bat,jdbcType=VARCHAR},
      lac = #{lac,jdbcType=VARCHAR},
      cell = #{cell,jdbcType=VARCHAR},
      ccid = #{ccid,jdbcType=VARCHAR},
      device_version = #{deviceVersion,jdbcType=VARCHAR}
    where th_id = #{thId,jdbcType=VARCHAR}
  </update>
  <update id="updatesceneIdBysceneId" parameterType="java.lang.String" >
    update t_device_sy1a_th
    set
      scene_id = '' , status = 1
    where scene_id = #{sceneId}
  </update>
  
  <select id="queryDeviceBysceneId" resultMap="DeviceMap"
		parameterType="java.lang.String">
		select
		th_id,device_name,device_code
		from t_device_sy1a_th
		where scene_id = #{sceneId}
	</select>
	
	<select id="queryDeviceByDeviceCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		*
		from t_device_sy1a_th
		where device_code = #{deviceCode}
	</select>
   <update id="updateDeviceBysceneId" parameterType="com.sywl.domain.DeviceTHDomain" >
    update t_device_sy1a_th
    set
      scene_id = #{sceneId},status = 0,device_name = #{deviceName,jdbcType=VARCHAR}
    where scene_id = #{sceneId}
  </update>
  <update id="updateDeviceByDeviceCode" parameterType="com.sywl.domain.DeviceRelayDomain" >
    update t_device_sy1a_th
    set
      scene_id = #{sceneId},status = 0,device_name = #{deviceName,jdbcType=VARCHAR}
    where device_code = #{deviceCode,jdbcType=VARCHAR}
  </update>
  <update id="updateSceneIdByDeviceCode" parameterType="java.lang.String" >
    update t_device_sy1a_th
    set
      scene_id = '',status = 0
    where device_code = #{deviceCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByDeviceCode" parameterType="com.sywl.domain.SysinfoBean" >
    update t_device_sy1a_th
    set
      device_version = #{VER},bat = #{BAT},lac = #{LAC},cell = #{CELL},ccid = #{CCID}
    where device_code = #{deviceCode,jdbcType=VARCHAR}
  </update>
  <select id="selectByStatus" resultType="java.lang.String" parameterType="java.lang.String" >
    select 
    device_code
    from t_device_sy1a_th
    where status = 1
  </select>
</mapper>