<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sywl.dao.DeviceVersionMapper" >
  <resultMap id="BaseResultMap" type="com.sywl.domain.DeviceVersion" >
    <result column="device_version" property="ver" jdbcType="VARCHAR" />
    <result column="package_size" property="filesize" jdbcType="INTEGER" />
    <result column="crc32" property="crc32" jdbcType="VARCHAR" />
    <result column="download_url" property="url" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    device_version, package_size, crc32, download_url
  </sql>
  <select id="selectByDeviceCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_device_version
    where device_code = #{deviceCode}
  </select>
</mapper>