<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sywl.web.dao.GoodsMapper">


    <insert id="save" parameterType="com.sywl.web.domain.GoodsDomain">
        INSERT INTO goods (
            id,
            type,
            device_id,
            user_id,
            start_time,
            end_time,
            cost_money
        )
        VALUES
            (#{id},#{type},#{deviceId},#{userId},#{startTime},#{endTime},#{costMoney})
    </insert>

    <update id="update" parameterType="com.sywl.web.domain.GoodsDomain">


    </update>

    <select id="queryGoodsById" parameterType="java.lang.String" resultType="com.sywl.web.domain.GoodsDomain">
        SELECT
        t1.id,
        t1.type,
        t1.device_id AS deviceId,
        t1.user_id AS userId,
        t1.start_time AS startTime,
        t1.end_time AS endTime,
        t1.cost_money AS costMoney
        FROM
        goods AS t1
        <where>
            <if test="id != null and id != ''">
                t1.id = #{id}
            </if>
        </where>

    </select>

</mapper>