<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sywl.web.dao.GoodsMapper">


    <insert id="save" parameterType="com.sywl.web.domain.GoodsDomain">
        INSERT INTO goods (
            id,
            type,
            `value`,
            money,
            create_time,
            `status`
        )
        VALUES
            (#{id},#{type},#{value},#{money},#{createTime},#{status})
    </insert>

    <update id="update" parameterType="com.sywl.web.domain.GoodsDomain">


    </update>

    <select id="queryGoodsById" parameterType="java.lang.String" resultType="com.sywl.web.domain.GoodsDomain">
        SELECT
        t.id,
        t.type,
        t.`value`,
        t.money,
        t.create_time AS createTime,
        t.`status`
        FROM
        goods AS t
        <where>
            <if test="id != null and id != ''">
                AND t.id = #{id}
            </if>
        </where>

    </select>

</mapper>