<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sywl.dao.TempHumiMapper" >
  <resultMap id="BaseResultMap" type="com.sywl.domain.TempHumiDomain" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="humi" property="humi" jdbcType="VARCHAR" />
    <result column="c_time" property="cTime" jdbcType="TIMESTAMP" />
    <result column="th_id" property="thId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.sywl.domain.TempHumiDomain" extends="BaseResultMap" >
    <result column="temp" property="temp" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    temp
  </sql>
  <insert id="insert" parameterType="com.sywl.domain.TempHumiDomain" >
    insert into sy1ath_history (id, humi, c_time, 
      th_id, temp)
    values (#{id,jdbcType=VARCHAR}, #{humi,jdbcType=VARCHAR}, #{cTime,jdbcType=TIMESTAMP}, 
      #{thId,jdbcType=VARCHAR}, #{temp,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.sywl.domain.TempHumiDomain" >
    insert into sy1ath_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="humi != null" >
        humi,
      </if>
      <if test="cTime != null" >
        c_time,
      </if>
      <if test="thId != null" >
        th_id,
      </if>
      <if test="temp != null" >
        temp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="humi != null" >
        #{humi,jdbcType=VARCHAR},
      </if>
      <if test="cTime != null" >
        #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="thId != null" >
        #{thId,jdbcType=VARCHAR},
      </if>
      <if test="temp != null" >
        #{temp,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
  <select id="selectBythId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    *
    from sy1ath_history
    where c_time &gt;= #{startTime} and c_time &lt;= #{endTime} and device_code = #{deviceCode}
  </select>
  <insert id="insertBatch" parameterType="java.util.List">
		 insert into sy1ath_history (id, humi, c_time, 
      device_code, temp)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.id},
			#{item.humi}, #{item.cTime},
			#{item.deviceCode}, #{item.temp})
		</foreach>
	</insert>
</mapper>