<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sywl.dao.THRelayMapper" >
  <resultMap id="BaseResultMap" type="com.sywl.domain.THRelayDomain" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="th_id" property="thId" jdbcType="VARCHAR" />
    <result column="relay_id" property="relayId" jdbcType="VARCHAR" />
    <result column="why" property="why" jdbcType="VARCHAR" />
    <result column="action" property="action" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="INTEGER" />
    <result column="scene_id" property="sceneId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="THRelayBaseResultMap" type="com.sywl.domain.THRelayDomain" >
    <result column="th_id" property="thId" jdbcType="VARCHAR" />
    <result column="relay_id" property="relayId" jdbcType="VARCHAR" />
    <result column="action" property="action" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="INTEGER" />
    <result column="scene_id" property="sceneId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="device_code" property="deviceCode" jdbcType="VARCHAR" />
    <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, th_id, relay_id, why, action, enable, scene_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_th_relay
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_th_relay
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sywl.domain.THRelayDomain" >
    insert into t_th_relay (id, th_id, relay_id, 
      why, action, enable, 
      scene_id,type)
    values (#{id,jdbcType=VARCHAR}, #{thId,jdbcType=VARCHAR}, #{relayId,jdbcType=VARCHAR}, 
      #{why,jdbcType=VARCHAR}, #{action,jdbcType=VARCHAR}, #{enable,jdbcType=INTEGER}, 
      #{sceneId,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sywl.domain.THRelayDomain" >
    insert into t_th_relay
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="thId != null" >
        th_id,
      </if>
      <if test="relayId != null" >
        relay_id,
      </if>
      <if test="why != null" >
        why,
      </if>
      <if test="action != null" >
        action,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="sceneId != null" >
        scene_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="thId != null" >
        #{thId,jdbcType=VARCHAR},
      </if>
      <if test="relayId != null" >
        #{relayId,jdbcType=VARCHAR},
      </if>
      <if test="why != null" >
        #{why,jdbcType=VARCHAR},
      </if>
      <if test="action != null" >
        #{action,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=INTEGER},
      </if>
      <if test="sceneId != null" >
        #{sceneId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sywl.domain.THRelayDomain" >
    update t_th_relay
    <set >
      <if test="thId != null" >
        th_id = #{thId,jdbcType=VARCHAR},
      </if>
      <if test="relayId != null" >
        relay_id = #{relayId,jdbcType=VARCHAR},
      </if>
      <if test="why != null" >
        why = #{why,jdbcType=VARCHAR},
      </if>
      <if test="action != null" >
        action = #{action,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=INTEGER},
      </if>
      <if test="sceneId != null" >
        scene_id = #{sceneId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sywl.domain.THRelayDomain" >
    update t_th_relay
    set th_id = #{thId,jdbcType=VARCHAR},
      relay_id = #{relayId,jdbcType=VARCHAR},
      why = #{why,jdbcType=VARCHAR},
      action = #{action,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=INTEGER},
      scene_id = #{sceneId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <delete id="deleteBySceneId" parameterType="java.lang.String" >
    delete from t_th_relay
    where scene_id = #{sceneId}
  </delete>
  
  <delete id="deleteByRelayId" parameterType="java.lang.String" >
    delete from t_th_relay
    where relay_id = #{relayId}
  </delete>
  
  <delete id="deleteBythId" parameterType="java.lang.String" >
    delete from t_th_relay
    where th_id = #{thId}
  </delete>
  
  <select id="selectDeviceByThId" resultMap="THRelayBaseResultMap" parameterType="java.lang.String" >
    select 
    t_th_relay.th_id,t_th_relay.relay_id,t_th_relay.action,t_th_relay.enable,t_th_relay.scene_id,t_th_relay.type,t_device_sy2a_relay.device_code,t_device_sy2a_relay.device_name
    from t_th_relay left join t_device_sy2a_relay on t_device_sy2a_relay.relay_id = t_th_relay.relay_id
    where th_id = #{thId}
  </select>
  
  <select id="selectDeviceByIdAndType" resultMap="THRelayBaseResultMap" parameterType="java.lang.String" >
    select 
    t_th_relay.th_id,t_th_relay.relay_id,t_th_relay.action,t_th_relay.enable,t_th_relay.scene_id,t_th_relay.type,t_device_sy2a_relay.device_code,t_device_sy2a_relay.device_name
    from t_th_relay left join t_device_sy2a_relay on t_device_sy2a_relay.relay_id = t_th_relay.relay_id
    where th_id = #{thId} and type = #{type}
  </select>
</mapper>